<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <meta charset='utf-8'>
  <title>Todo list</title>
</head>
<body>

<header>
  <center><h1>Peter's Steampunk todo list</h1></center>
</header>

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/items/new">New Item</a></li>
  </ul>


</nav>

<%=yield%>
</body>
</html>